<ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="main.store">Store</a></li>
    <li ng-repeat="parent in breadcrumb" class="breadcrumb-item"><a ui-sref="main.category({ categoryId: parent.id, categoryName: parent.name })">{{ parent.name }}</a></li>
    <li><span class="breadcrumb-item active">{{ category.name }}</span></li>
</ol>

<div id="title">
    <h2>{{ category.name }}</h2>
    <a ui-sref="main.new_item({category: category.id})" ng-show="loggedIn">
        <button class="btn btn-success">Add new item</button>
    </a>
</div>

<div id="subcategories" class="col-sm-3" ng-if="category.subcategories.length">
    <h3>Categories</h3>
    <ul class="menu">
        <li ng-repeat="subcategory in category.subcategories">
            <a ui-sref="main.category({ categoryId: subcategory.id, categoryName: subcategory.name })">
                {{ subcategory.name }}
                <span></span>
            </a>
            <ul class="submenu">
                <li ng-repeat="subsubcategory in subcategory.subcategories" ng-if="$index < submenuSize">
                    <a ui-sref="main.category({ categoryId: subsubcategory.id, categoryName: subsubcategory.name })">
                        {{ subsubcategory.name }}
                    </a>
                </li>
                <li>
                    <a ui-sref="main.category({ categoryId: subcategory.id, categoryName: subcategory.name })">
                        See All
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div id="main" ng-class="{'col-sm-9': category.subcategories.length, 'col-sm-12': !category.subcategories.length}">
    <div class="items" ng-show="items.length">
        <ul>
            <li ng-repeat="item in items">
                <div class="item">
                    <div class="image col-sm-3">
                        <img ng-if="item.images.length" ng-src="/api/images/{{item.images[0]}}">
                        <span ng-if="!item.images.length" class="no-image">No images available</span>
                    </div>
                    <div class="info col-sm-9">
                        <h3 class="item-title">
                            <a ui-sref="main.item({ itemId: item.id, itemName: item.name })">{{ item.name }}</a>
                        </h3>
                        <div class="col-sm-6">
                            <p>
                                <span ng-class="{'auction-ended': item.finished, 'auction-live': !item.finished}">{{ item.end }}</span>
                                <span ng-if="item.winnerUsername">at <strong class="bid">{{ item.currentbid | currency }}</strong></span>
                                <span class="auction-ended" ng-if="item.finished && !item.winnerUsername">with no bids</span>
                                <span class="auction-live" ng-if="!item.finished">{{ item.endOffset }}</span>
                            </p>
                            <p ng-if="item.winnerUsername">from <a ui-sref="main.user({ username: item.winnerUsername })">{{ item.winnerUsername }}</a></p>
                            <p ng-if="!item.finished">Bid over <strong class="bid">{{ item.currentbid | currency }}</strong></p>

                        </div>
                        <div class="col-sm-6">
                            <p><a ui-sref="main.user({ username: item.sellerUsername })">sold by {{ item.sellerUsername }}</a></p>
                            <p>from {{ item.location }}, {{ item.country }}</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <div id="pagination" ng-show="needPagination()">
            <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="getItems()"
                max-size="maxSize" boundary-link-numbers="true" rotate="false"></ul>
        </div>
    </div>
    <div ng-show="!items.length">
        <p>There are no items here :( Be the first to <a ui-sref="main.new_item({category: category.id})">add one</a></p>
    </div>
</div>