<ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="main.store">Store</a></li>
    <li ng-repeat="parent in breadcrumb" class="breadcrumb-item"><a ui-sref="main.category({ categoryId: parent.id, categoryName: parent.name })">{{ parent.name }}</a></li>
    <li><span class="breadcrumb-item active">{{ category.name }}</span></li>
</ol>
<div ng-show="loggedIn"><a ui-sref="main.new_item({category: category.id})">
    <button class="btn btn-success">Create new item</button>
</a></div>
Category: {{ category.name }} with {{ category.count }}
<div ng-show="category.subcategories.length">
    <h2>Subcategories</h2>
    <ul>
        <li ng-repeat="subcategory in category.subcategories">
            <a ui-sref="main.category({ categoryId: subcategory.id, categoryName: subcategory.name })">{{
                subcategory.name
                }}</a>
            <span ng-show="subcategory.count">
                {{ subcategory.count }}
            </span>
        </li>
    </ul>
</div>
<div ng-show="items.length">
    <h2>Items</h2>
    <ul>
        <li ng-repeat="item in items">
            <ul><a ui-sref="main.item({ itemId: item.id, itemName: item.name })">{{ item }}</a></ul>
        </li>
    </ul>

    <div id="pagination" ng-show="needPagination()">
        <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="getItems()"
            max-size="maxSize" boundary-link-numbers="true" rotate="false"></ul>
    </div>
</div>