<ol class="breadcrumb">
    <li class="breadcrumb-item" ng-if="item.new">
        <a ui-sref="main.profile.active">{{ currentUser }}</a>
    </li>
    <li class="breadcrumb-item" ng-if="!item.new && currentUser == item.seller">
        <a ui-sref="main.profile.active">{{ item.seller }}</a>
    </li>
    <li class="breadcrumb-item" ng-if="!item.new && currentUser != item.seller">
        <a ui-sref="main.user({ username: item.sellerUsername })">{{ item.seller }}</a>
    </li>
    <li class="breadcrumb-item" ng-if="!item.name">New Item</li>
    <li class="breadcrumb-item" ng-if="item.name">{{ item.name }}</li>
</ol>

<div class="alert alert-warning" ng-if="!item.new && item.seller != currentUser">
    <ul>
        <li>You are not eligible to edit or delete this item. Please don't try to.</li>
    </ul>
</div>

<div class="col-sm-6">
    <form class="form-horizontal" novalidate>
        <div class="form-group" has-feedback>
            <label class="col-sm-3 control-label" for="name">Name<span style="color: red">*</span></label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name"
                       ng-model="item.name" required>
                <span style="font-size: 10px; color: red; padding-left: 10px;">
                    Name has to be at least 3 characters long.
                </span>
            </div>
        </div>
        <div class="form-group" has-feedback>
            <label class="col-sm-3 control-label" for="description">Description<span style="color: red">*</span></label>
            <div class="col-sm-9">
                <textarea cols="50" rows="5" class="form-control" id="description" name="description"
                          placeholder="Description"
                          ng-model="item.description"></textarea>
                <span style="font-size: 10px; color: red; padding-left: 10px;">
                    Description has to be at least 10 characters long.
                </span>
            </div>
        </div>
        <div class="form-group" has-feedback>
            <label class="col-sm-3 control-label" for="category">Category<span style="color: red">*</span></label>
            <div class="col-sm-9">
                <select class="form-control" id="category" name="category" ng-model="item.category">
                    <optgroup ng-repeat="category in listCategories" label="{{ category.name }}">
                        <option value="{{ category.id }}">
                            {{ category.name }}
                        </option>
                        <option ng-repeat="subcategory in category.subcategories" value="{{ subcategory.id }}">
                            {{ subcategory.name }}
                        </option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="form-group" has-feedback>
            <label class="col-sm-3 control-label" for="location">Address<span style="color: red">*</span></label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="location" name="location" placeholder="Address" ng-model="item.location">
                <span style="font-size: 10px; color: red; padding-left: 10px;">
                    Address has to be at least 2 characters long.
                </span>
            </div>
        </div>
        <div class="form-group" has-feedback>
            <label class="col-sm-3 control-label" for="country">Country<span style="color: red">*</span></label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="country" name="country" placeholder="Country"
                       ng-model="item.country">
                <span style="font-size: 10px; color: red; padding-left: 10px;">
                    Country has to be at least 2 characters long.
                </span>
            </div>
        </div>
        <div class="form-group" has-feedback>
            <label class="col-sm-3 control-label" for="firstbid">Starting price<span style="color: red">*</span></label>
            <div class="col-sm-9">
                <input type="number" class="form-control" id="firstbid" name="firstbid" placeholder="Starting price"
                       ng-model="item.firstbid" step="1.00">
                <span style="font-size: 10px; color: red; padding-left: 10px;">
                    Starting price has to be at least 0.01$.
                </span>
            </div>
        </div>
        <div class="form-group" has-feedback>
            <label class="col-sm-3 control-label" for="buyprice">Buying price</label>
            <div class="col-sm-9">
                <input type="number" class="form-control" id="buyprice" name="buyprice" placeholder="Buying price"
                       ng-model="item.buyprice" step="1.00">
                <span style="font-size: 10px; color: red; padding-left: 10px;">
                    Buying price can be 0 (no buying price) or >= starting price.
                </span>
            </div>
        </div>
        <div class="form-group" has-feedback>
            <label class="col-sm-3 control-label" for="endDate">Ending date<span style="color: red">*</span></label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="endDate" name="endDate" placeholder="Ending date"
                       ng-model="item.endDate" date-format format="'M/dd/y HH:mm:ss'" required>
            </div>
        </div>
    </form>
</div>
<div class="col-sm-6">
    <form class="form-horizontal" novalidate>
        <div class="form-group" has-feedback>
            <label class="col-sm-3 control-label" for="map">Location<span style="color: red">*</span></label>
            <div class="col-sm-9" style="padding: 0;">
                <leaflet class="form-control" id="map" lf-center="center" name="position" markers="markers" height="300px"
                         style="padding: 0;max-width: 100%;"></leaflet>
            </div>
        </div>
        <div class="form-group" has-feedback>
            <label class="col-sm-3 control-label">Images</label>
            <div class="col-sm-9" style="padding: 0;">
                <div>
                    <span ng-repeat="img in item.images"
                          style="display: inline-block; position: relative;width: 100px;height: 100px; margin: 0 5px 5px 0;">
                        <img style="width: 100px;height: 100px" ng-src="/api/images/{{ img }}"/>
                        <button ng-click="removeImage(img)" class="btn btn-danger btn-xs"
                                style="position: absolute;top: 0;right: 0;">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
                <div style="margin-top: 10px">
                    <label class="btn btn-default btn-file">
                        Browse files <input type="file" nv-file-select="" style="display: none;" uploader="uploader" multiple/>
                    </label>
                    <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()"
                            ng-disabled="!uploader.getNotUploadedItems().length" style="margin-left: 5px;">
                        <span class="glyphicon glyphicon-upload"></span> Upload all
                    </button>
                </div>
                <div class="row" ng-repeat="item in uploader.queue">
                    <div class="col-sm-10">{{ item.file.name }}</div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="col-sm-12" style="margin-top: 20px; padding: 0;">
    <div class="alert alert-danger" ng-show="formError">
        <ul>
            <li>{{ formError }}</li>
        </ul>
    </div>
    <div style="text-align: center;">
        <button class="btn btn-primary" ng-click="submitItem()">Submit</button>
        <button class="btn btn-danger" ng-click="goBack()">Cancel</button>
    </div>
</div>
