<ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="main.store">Store</a></li>
    <li ng-repeat="parent in breadcrumb" class="breadcrumb-item"><a
            ui-sref="main.category({ categoryId: parent.id, categoryName: parent.name })">{{ parent.name }}</a></li>
</ol>

<div class="row">
    <div class="col-sm-5" id="images">
        <div uib-carousel ng-if="item.images.length" active="active" interval="myInterval" no-wrap="noWrapSlides" id="carousel">
            <div uib-slide ng-repeat="img in item.images track by $index" index="$index">
                <img ng-src="/api/images/{{img}}">
            </div>
        </div>
        <div ng-if="!item.images.length" id="no-image">
            <span>No images are available</span>
        </div>
    </div>
    <div class="col-sm-7 container">
        <h3>{{ item.name }}</h3>
        <div ng-show="canEdit()">
            <a ui-sref="main.edit_item({itemId: item.id, itemName: item.name})">
                <button class="btn btn-primary btn-sm">Edit</button>
            </a>
            <a ng-click="deleteItem(item.id)">
                <button class="btn btn-danger btn-sm">Delete</button>
            </a>
        </div>
        <hr/>
        <div class="clearfix">
            <p class="col-sm-3 text-right">Seller:</p>
            <p class="col-sm-9"><a ui-sref="main.user({ username: item.sellerUsername })">{{ item.sellerUsername }}</a>
            </p>
        </div>
        <div class="clearfix">
            <p class="col-sm-3 text-right">Location:</p>
            <p class="col-sm-9">
                <a href="" uib-popover-template="'map-template.html'" popover-placement="bottom-left">{{ item.location
                    }}, {{ item.country }}</a>
            </p>
            <script type="text/ng-template" id="map-template.html">
                <div>
                    <leaflet id="map" markers="markers" height="300px" width="400px"></leaflet>
                </div>
            </script>
        </div>
        <div class="clearfix">
            <p class="col-sm-3 text-right" ng-class="{'auction-ended': item.finished, 'auction-live': !item.finished}">
                {{ end }}</p>
            <p class="col-sm-9" ng-class="{'auction-ended': item.finished, 'auction-live': !item.finished}">{{ endOffset
                }}</p>
        </div>
        <div class="clearfix" ng-show="!canBid()">
            <p class="col-sm-3 text-right" ng-if="bids.length && item.finished">Auction winner:</p>
            <p class="col-sm-9" ng-if="bids.length && item.finished"><a ui-sref="main.user({ username: bids[bids.length - 1].owner })">{{ bids[bids.length - 1].owner }}</a></p>
            <p class="col-sm-3 text-right" ng-if="!bids.length">Starting Bid:</p>
            <p class="col-sm-3 text-right" ng-if="bids.length">Current Bid:</p>
            <p class="col-sm-9">{{ item.currentbid | currency }}</p>
        </div>
        <div class="clearfix" id="bid-panel" ng-show="canBid()">
            <p class="col-sm-3 text-right">Current Bid:</p>
            <p class="col-sm-9">{{ item.currentbid | currency }}</p>
            <input type="number" ng-model="bidAmount" step="1.00" class="col-sm-offset-3 col-sm-3 bid-input"
                   placeholder="Bid amount">
            <button ng-click="submitBid(bidAmount || 0)" class="btn btn-primary bid-button">Place bid</button>
            <div class="alert alert-danger" ng-show="bidError">
                <ul>
                    <li>{{ bidError }}</li>
                </ul>
            </div>
            <div ng-if="item.buyprice">
                <hr/>
                <p class="col-sm-3 text-right">Buying Price:</p>
                <p class="col-sm-3">{{ item.buyprice | currency }}</p>
                <button ng-click="submitBid(item.buyprice)" class="btn btn-primary bid-button">Buy Now!</button>
            </div>
        </div>
        <div class="bid-history" ng-if="bids.length">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Bid History - {{ bids.length }} bid{{ bids.length == 1 ? '' : 's' }}</h3>
                </div>
                <div class="panel-body">
                    <div class="bid-scroll">
                        <table class="table table-bordered table-hover">
                            <tbody>
                            <tr ng-repeat="bid in bids" ng-class="{'bg-success': $last}">
                                <td>{{ bid.amount | currency }} by <a ui-sref="main.user({ username: bid.owner })">{{
                                    bid.owner
                                    }}</a>,
                                    <a data-toggle="tooltip" data-placement="right"
                                       title="{{ bid.date | date : 'MMM dd, yyyy HH:mm:ss' }}">{{ bid.timeOffset }}</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default" id="description">
    <div class="panel-heading">
        <h3 class="panel-title">Description</h3>
    </div>
    <div class="panel-body">
        <p>{{ item.description }}</p>
    </div>
</div>
