<nav id="logo-bar" class="navbar navbar-default">
    <div class="navbar-header">
        <a ng-href="{{ getHomeUrl() }}">
            <img id="logo"src="images/auction-hammer.png">
        </a>
    </div>
    <div class="navbar-collapse collapse" ng-if="!atIndex()">
        <ul class="nav navbar-nav navbar-right">
            <li ng-if="admin">
                <a ui-sref="main.admin">
                    <br/>
                    <div class="line-2">Admin Panel</div>
                </a>
            </li>
            <li ng-if="hasSuggestions">
                <a ui-sref="main.suggestions">
                    <div class="line-1">New feature!</div>
                    <div class="line-2">Auction suggestions</div>
                </a>
            </li>
            <li ng-show="newMessageCount">
                <a ui-sref="main.profile.messages_received">
                    <div class="line-1">You got &nbsp;<span class="glyphicon glyphicon-envelope"></span></div>
                    <div class="line-2" ng-show="newMessageCount == 1">{{ newMessageCount }} new message!</div>
                    <div class="line-2" ng-show="newMessageCount > 1">{{ newMessageCount }} new messages!</div>

                </a>
            </li>
            <li ng-if="username">
                <a ui-sref="main.profile.active">
                    <div class="line-1">Hello, {{ username }}!</div>
                    <div class="line-2">Your Profile</div>
                </a>
            </li>
            <li>
                <a ui-sref="main.index" ng-click="doLogout()">
                    <div class="line-1">{{ username ? 'Tired?' : 'Sign up or' }}</div>
                    <div class="line-2">{{ username ? 'Log out' : 'Log in Now!' }}</div>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div ui-view></div>