<div class="row">
    <div class="col-md-12">
        <div id="error-template">
            <h1>Oops!</h1>
            <h2>404 Page Not Found</h2>
            <div id="error-details" class="big-text">
                We are sorry but the page you requested is not part of this website.
            </div>
            <div id="error-actions">
                <a ui-sref="index" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>&nbsp;Return to safety&nbsp;</a>
                <a href="" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Contact us&nbsp;</a>
            </div>
        </div>
    </div>
</div>