<div id="profile-down" class="col-sm-12">
    <div class="col-sm-2 sidebar">
        <h3>Auctions</h3>
        <ul class="nav nav-tabs nav-stacked nav-pills" role="tablist">
            <li ng-class="{'active': view_tab == 'active'}">
                <a ng-click="changeTab('active')" ui-sref="main.profile.active">Active</a>
            </li>
            <li ng-class="{'active': view_tab == 'closed'}">
                <a ng-click="changeTab('closed')" href="javascript:void(0);">Closed</a>
            </li>
        </ul>
        <h3>Messages</h3>
        <ul class="nav nav-tabs nav-stacked nav-pills" role="tablist">
            <li ng-class="{'active': view_tab == 'received'}">
                <a ng-click="changeTab('received')" href="javascript:void(0);">Received</a>
            </li>
            <li ng-class="{'active': view_tab == 'sent'}">
                <a ng-click="changeTab('sent')" href="javascript:void(0);">Sent</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-10">
        <div ui-view></div>
    </div>
</div>