<div class="col-sm-12" style="margin-bottom: 10px">
    <a ui-sref="main.new_item" ng-show="username">
        <button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create new item</button>
    </a>
    <form ng-submit="doSearch(search)" class="form-inline pull-right" style="display: inline-block">
        <div class="form-group">
            <label for="search" style="line-height: 36px">Search for items</label>
            <div class="input-group" style="margin: 0 5px;">
                <input data-toggle="popover" data-content="Please specify some terms!" id="search" ng-model="search" type="text" class="form-control">
            </div>
            <button class="btn btn-primary" style="width: 100px">Go!</button>
            <div class="text-right"><a ui-sref="main.search">Advanced search</a></div>
        </div>
    </form>
</div>
<div>
    <ul id="categories">
        <li ng-repeat="category in categories" class="category {{styles[category.name]}}">
            <a ui-sref="main.category({ categoryId: category.id, categoryName: category.name })" class="main">
                <div class="image">
                    <img ng-src="images/categories/{{styles[category.name]}}.png">
                </div>
                <h2>
                    <span>{{ category.name }}</span>
                </h2>
            </a>
            <div class="subcategories">
                <ul>
                    <li ng-repeat="subcategory in category.top">
                        <h3>
                            <a ui-sref="main.category({ categoryId: subcategory.id, categoryName: subcategory.name })">{{
                                subcategory.name }}</a>
                        </h3>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
