<ol class="breadcrumb ng-scope">
    <li><span class="breadcrumb-item active">My Profile</span></li>
</ol>
<div id="profile" class="col-sm-12">
    <div id="sidebar" class="col-sm-2">
        <h3>Auctions</h3>
        <ul class="nav nav-tabs nav-stacked nav-pills" role="tablist">
            <li ng-class="{'active': view_tab == 'active'}">
                <a ui-sref="main.profile.active">Active</a>
            </li>
            <li ng-class="{'active': view_tab == 'closed'}">
                <a ui-sref="main.profile.closed">Closed</a>
            </li>
            <li ng-class="{'active': view_tab == 'participating'}">
                <a ui-sref="main.profile.participating">Participating</a>
            </li>
            <li ng-class="{'active': view_tab == 'bought'}">
                <a ui-sref="main.profile.bought">Bought</a>
            </li>
        </ul>
        <h3>Messages</h3>
        <ul class="nav nav-tabs nav-stacked nav-pills" role="tablist">
            <li ng-class="{'active': view_tab == 'received'}">
                <a ui-sref="main.profile.messages_received">Received</a>
            </li>
            <li ng-class="{'active': view_tab == 'sent'}">
                <a ui-sref="main.profile.messages_sent">Sent</a>
            </li>
            <li ng-class="{'active': view_tab == 'new'}">
                <a ui-sref="main.profile.new_message">Create Message</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-10">
        <div ui-view></div>
    </div>
</div>