#title {
  height: 65px;
  padding-bottom: 15px;
  border-bottom: 1px solid #DDDDDD;
  white-space: nowrap; }
  #title > h2 {
    font-size: 24px;
    width: 75%;
    display: inline-block; }
  #title > a {
    width: 25%;
    display: inline-block;
    position: relative;
    text-align: right;
    top: -7px;
    right: 5px; }

#subcategories > h3 {
  font-size: 20px; }
#subcategories .menu, #subcategories .submenu {
  list-style: none;
  margin: 0;
  padding: 0; }
#subcategories .menu {
  overflow: visible; }
  #subcategories .menu > li {
    position: relative;
    border-bottom: 1px solid #E6E6E6; }
    #subcategories .menu > li > a {
      padding: 6px 0 6px 10px;
      display: block; }
      #subcategories .menu > li > a > span {
        background-color: inherit;
        border: 0 none;
        position: absolute;
        right: 0;
        width: 6px; }
    #subcategories .menu > li:hover {
      border-left: 1px solid #E6E6E6;
      background-color: #FFFFFF; }
      #subcategories .menu > li:hover:nth-child(1) {
        border-top: 1px solid #E6E6E6; }
      #subcategories .menu > li:hover > a {
        color: #0654BA; }
        #subcategories .menu > li:hover > a span {
          background: #FFFFFF;
          height: 100%;
          right: -5px;
          top: 0;
          z-index: 11; }
      #subcategories .menu > li:hover .submenu {
        visibility: visible;
        display: block;
        background-color: #FFFFFF;
        box-shadow: #AAAAAA 5px 5px 5px 0;
        z-index: 10; }
#subcategories .submenu {
  left: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  visibility: hidden;
  margin-top: -1px;
  padding: 10px 10px 20px 15px;
  border: 1px solid #E6E6E6; }
  #subcategories .submenu > li {
    padding: 5px; }
    #subcategories .submenu > li a:hover {
      color: #0654BA;
      text-decoration: underline; }
#subcategories a {
  color: #333333;
  text-decoration: none; }

#main {
  margin-top: 20px;
  padding: 20px 20px;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6; }
  #main > .items > ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  #main > .items .item {
    height: 231px;
    padding: 10px 0;
    border-bottom: 1px solid #E6E6E6; }
    #main > .items .item > .image {
      height: 212px;
      border: 1px solid #E6E6E6;
      border-radius: 3px;
      padding: 0;
      text-align: center; }
      #main > .items .item > .image > img {
        height: 210px;
        max-width: 100%;
        margin: auto; }
      #main > .items .item > .image > .no-image {
        color: #767676;
        line-height: 210px; }
    #main > .items .item > .info {
      height: 210px; }
      #main > .items .item > .info > .item-title {
        font-size: 22px;
        margin-top: 10px;
        margin-bottom: 20px; }
        #main > .items .item > .info > .item-title > a {
          white-space: pre-wrap;
          white-space: -moz-pre-wrap;
          white-space: -pre-wrap;
          white-space: -o-pre-wrap;
          word-wrap: break-word; }
      #main > .items .item > .info > div {
        padding-left: 0; }
      #main > .items .item > .info > .item-desc {
        position: absolute;
        bottom: 0;
        height: 80px;
        overflow-y: auto;
        margin-top: 10px; }
    #main > .items .item .auction-ended {
      color: red; }
    #main > .items .item .auction-live {
      color: green; }

/*# sourceMappingURL=category.css.map */
