<h1>Welcome</h1>
<span>Please login or register in order to participate in auctions, or continue as a guest to view the auctions</span>
<div style="padding-top:  30px;"></div>
<div class="panel panel-default">
    <div class="panel-heading">
        <ul class="nav nav-pills">
            <li class="active col-sm-offset-1 col-sm-5"><a data-toggle="tab" href="#login">Login</a></li>
            <li class="col-sm-5"><a data-toggle="tab" href="#register">Register </a></li>
        </ul>
    </div>
    <div class="panel-body row">
        <div class="tab-content col-sm-offset-1 col-sm-10">
            <div id="login" class="tab-pane fade in active">
                <h4>Existing user</h4>
                <form name="loginForm" ng-submit="doLogin()" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="lusername">Username</label>
                        <div class="col-sm-10"><input type="text" class="form-control" id="lusername"
                                                      ng-model="login.username"
                                                      placeholder="Username"
                                                      required></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="lpassword">Password</label>
                        <div class="col-sm-10"><input type="password" class="form-control" id="lpassword"
                                                      ng-model="login.password"
                                                      placeholder="Password" required></div>
                    </div>
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <div class="alert alert-danger" ng-show="loginError">
                            <strong>Error!</strong> {{ loginError }}
                        </div>
                    </div>
                    <div class="col-sm-offset-2 col-sm-10">
                        <a ui-sref="main.store">Continue as a guest</a>
                    </div>
                </form>
            </div>
            <div id="register" class="tab-pane fade">
                <h4>New account</h4>
                <form name="regForm" ng-submit="doRegister(regForm)" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="rusername">Username</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="rusername" ng-model="register.username"
                                   placeholder="Username" required>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': pwNoMatch}">
                        <label class="col-sm-2 control-label" for="rpassword">Password</label>
                        <div class="col-sm-10"><input type="password" class="form-control" id="rpassword"
                                                      ng-model="register.password"
                                                      placeholder="Password" required></div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': pwNoMatch}">
                        <label class="col-sm-2 control-label" for="rpassword2">Repeat password</label>
                        <div class="col-sm-10"><input type="password" class="form-control" id="rpassword2"
                                                      ng-model="register.password2"
                                                      placeholder="Password" required></div>
                    </div>
                    <div class="alert alert-danger" ng-show="pwNoMatch">
                        <strong>Error!</strong> The passwords do not match.
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="name">Name</label>
                        <div class="col-sm-10"><input type="text" class="form-control" id="name"
                                                      ng-model="register.name"
                                                      placeholder="Name"
                                                      required></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="surname">Surname</label>
                        <div class="col-sm-10"><input type="text" class="form-control" id="surname"
                                                      ng-model="register.surname"
                                                      placeholder="Surname"
                                                      required></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="email">email</label>
                        <div class="col-sm-10"><input type="email" class="form-control" id="email"
                                                      ng-model="register.email"
                                                      placeholder="email"
                                                      required></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="telephone">telephone</label>
                        <div class="col-sm-10"><input type="text" class="form-control" id="telephone"
                                                      ng-model="register.telephone"
                                                      placeholder="telephone" required></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="address">address</label>
                        <div class="col-sm-10"><input type="text" class="form-control" id="address"
                                                      ng-model="register.address"
                                                      placeholder="address"
                                                      required></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="country">country</label>
                        <div class="col-sm-10"><input type="text" class="form-control" id="country"
                                                      ng-model="register.country"
                                                      placeholder="country"
                                                      required></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="latitude">latitude</label>
                        <div class="col-sm-10"><input type="number" class="form-control" id="latitude"
                                                      ng-model="register.latitude"
                                                      placeholder="latitude"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="longitude">longitude</label>
                        <div class="col-sm-10"><input type="number" class="form-control" id="longitude"
                                                      ng-model="register.longitude"
                                                      placeholder="longitude"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="afm">afm</label>
                        <div class="col-sm-10"><input type="text" class="form-control" id="afm"
                                                      ng-model="register.afm"
                                                      placeholder="afm"
                                                      required></div>
                    </div>
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <div class="alert alert-success" ng-show="registerSuccess">
                            Your registration was successful! The administrator should approve your account shortly.
                        </div>
                        <div class="alert alert-danger" ng-show="registerError">
                            <strong>Error!</strong> {{ registerError }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>